@import '../styles/styles';
.service {
    width: 80%;
    height: auto;
    border-radius: 3rem;
    margin: 10rem auto;
    margin-bottom: 55rem;
    display: flex;
    flex-direction: column;
}


.service__app, .service__community, .service__renderer {
    display: flex;
    justify-content: center;

}
.service__app__cosm__logo, .service__app__cosd__logo, .service__community__velbi__logo, .service__community__solla__logo, .service__renderer__clrod__logo{
    width: 15rem;
    height: 15rem;
}