@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

.about {
    width: 100%;
    height: auto; 
    margin: 3rem auto;
    margin-bottom: 20rem;
    overflow: auto;
}

.about__image {
    width: 100%;
    height: 35rem;
}

.about__text {
    top: 9rem;
    left: 20%;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 6rem;
}

.about__text__sub {
    top: 23rem;
    left: 20.2%;
    position: absolute;
    font-size: 2.5rem;
    width:80%; 
    white-space: pre-wrap;
    line-height:180%;
    color: white;    
}
.about__title {
    margin: 9rem 0rem;  
    font-family:  "Poppins",Helvetica,sans-serif; 
    text-align: center;    
    color: black;    
}

.about__contents {
    text-align: center;
    margin: 0 auto;
    padding: 0 26%;
}

.about__contents__text {
    font-size: 2rem;
    line-height:180%;
    text-align: center;
    color: rgba(0, 0, 0, 0.774);    
}

.about__contents__text__last {
    margin: 7rem auto;
    margin-bottom: 8rem;    
    text-align: center;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.774);
}

.about__members {
    display: none;
    margin: 9rem 0rem;
    margin-top: 30rem;  
    font-family:  "Poppins",Helvetica,sans-serif; 
    text-align: center;    
    color: black; 
}

.team__photos {
    display: none;    
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.team__photos__image {
    display: none;    
    width: 20rem;
    height: 20rem;
    padding: 3rem;
    padding-bottom: 0.5rem;
    border-radius: 50%;
}

.team__photos__text {
    display: none;    
    text-align: center;
    font-size: 2rem;
    color: black;    
}

@media ( max-width: 375px ) {
    .team__photos {
        width: 70%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}