@import './base/base';
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.main {
    width: 121rem;
    height: 140rem;
    border-radius: 3rem;
    margin: 9rem 22rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.main__contents {
    text-align: center;
    
}
.main__sentence {
    color: black;
    font-family:  "Poppins",Helvetica,sans-serif;   
}

.main__subsentence {
    color: rgb(53, 49, 49);
    font-size: 1.8rem;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}



.main__img {
    width: 108rem;
    height: 51rem;
    
}

.main__whatwedo {
    margin: 6rem;
    font-family:  "Poppins",Helvetica,sans-serif; 
    color: black;
}

.main__what {
    
    display: flex;
}

.main__what__img {
    margin: 2rem auto;
    width: 9rem;
    height: 9rem;
}

.main__what__text {
    margin: 0 auto;
    color: black;
    font-family: Helvetica,sans-serif;
    font-size: 2.3rem;
}

.main__what__sub__text {
    width: 20rem;
    margin: 3.5rem auto;
    color: black;
    font-family: Helvetica,sans-serif;
    font-size: 1.8rem;
}


.main__button{
  background: rgb(2, 167, 16);
  color:#fff;
  border:none;
  border-radius: 0.8rem;
  height:4.8rem;
  width: 17rem;
  font-size: 1.67rem;
  padding:0 1rem;
  transition: 800ms ease all;
  margin-top: 3rem;
}
.main__button:hover{
  background:#fff;
  color: rgb(2, 167, 16);
  border: solid;
  border-color: rgb(2, 167, 16);
  border-width: 0.1rem;
}

.main__button:focus {
     outline:0 !important;
}

