@import './base/base';
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$clrod-green:rgb(2, 167, 16);
$text-color: rgba(255, 253, 253, 0.68);


* {
    color: $clrod-green;
}

.header {
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: #FBFBFC;
    box-shadow: 2px 2px 4px 2px #ccc;
    top: 0;
}

.navbar {
    width: 70%;
    margin: 0 auto;
    background-color: #FBFBFC;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.header__left__li {
    display: flex;
    text-decoration: none;
    padding: 1rem 0.3rem;
}

.header__right__li {
    text-decoration: none;
    list-style: none;
	letter-spacing:0.1rem;
    padding: 1rem;
    padding-top: 2rem;
    margin: 0 2rem;
    font-size: 1.7rem;
    font-weight: lighter;
    color: black
}

.header__right__togle {
    text-decoration: none;
    display: none;
    padding-top: 0.9rem;
    margin: 0 1rem;
    font-size: 1.9rem;
}

.header__right__li:hover { 
    color: $clrod-green;
  }

.header__img {
    width: 4.8rem;
    height: 3.7rem;
}

.header__name{
    color: black;
    font-weight:bold;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
}

.is-active {
    color: $clrod-green;
}


.main__button {
    padding: 0.05rem;
    margin: 0 2rem;
    margin-top: 1.3rem;

    font-size: 1.6rem;
    font-weight: lighter;
    align-items: center;
    justify-content: center;

    background: white;
    color:$clrod-green;
    border-radius: 0.5rem;
    border-color: $clrod-green;
    border: solid;
    border-width: 0.1rem;

    display: flex;
    text-decoration: none;
    list-style: none;
    
    height:3rem;
    width: 7rem;
    font-size: 1.7rem;
    transition: 800ms ease all;
  }
  
  .main__button:hover {
    background:$clrod-green;
    color: white;

    border-color: $clrod-green;

  }
  
  .main__button:focus {
       outline:0 !important;
  }
  
//-----------------------------------------------//

                //----Main----//

//-----------------------------------------------//

.footer {
    width: 100%;
    background-color: black;
    padding:4.2rem 0;
}

.footer__text {
    text-align: center;
    color: $text-color;
    font-size: 1.5rem;
}

@media (max-width : 800px){
    .main__button{
        display: none;
    }
    .navbar {
        width: 90%;
    }
    
    .header__right__li {
        display: none;
    }
   
    .header__right__togle {
        display: initial;
    }
   
    .setMobile_r {
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        .header__right__li{
            display: initial;
            font-size: 3rem;
        }

        .main__button:hover {
            color: $clrod-green;
        }

        .main__button {
            display: initial;
            font-size: 3rem;
            border: none;
            color: black;
            text-align: center;
            transition:none;
            background-color: white;
            
        }
       
    }

    .mobilemenu {
        font-size: 4rem;
    }
}