@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

.main {
    width: 80%;
    height: 178rem;
    border-radius: 3rem;
    margin: 9rem auto;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.main__contents {
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */

}
.main__sentence {
    color: black;
    font-family:  "Poppins",Helvetica,sans-serif;  
    text-align: center; 
    margin: 6rem 14rem;
    //font-size: 2rem; 
}

// @media(min-width: 53rem) and  (max-width:  90rem){
//     .main__sentence {
//         font-size: 8rem;
//     }
// }

.main__subsentence {
    color: rgb(53, 49, 49);
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: bold;
}

.main__img {
    width: 100rem;
    height: 60rem;
}

.main__whatwedo {
    margin-top: 10rem;
    font-family:  "Poppins",Helvetica,sans-serif; 
    color: black;
    margin-bottom: 10rem;
    font-size: 4rem;
}

.main__what {
    display: flex;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main__what__contents {
    margin: 0.2rem 3rem;
    padding: 3.5rem;
    border-top: 0.3rem groove rgb(67, 223, 137);
    border-bottom: 0.3rem groove rgb(67, 223, 137);
    width: 20rem;    
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    align-items: center;     /* center items horizontally, in this case */

}
.main__what__img {
    width: 9rem;
    height: 9rem;
    
}


.main__what__sub__text {
    width: 24srem;
    color: black;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2.1rem;
}

.main__button{
  background: rgb(2, 167, 16);
  color:#fff;
  border:none;
  border-radius: 0.8rem;
  height:4.8rem;
  width: 17rem;
  font-size: 1.67rem;
  padding:0 1rem;
  transition: 800ms ease all;
  margin-top: 3rem;
}
.main__button:hover{
  background:#fff;
  color: rgb(2, 167, 16);
  border: solid;
  border-color: rgb(2, 167, 16);
  border-width: 0.1rem;
}

.main__button:focus {
     outline:0 !important;
}

