@import url('https://fonts.googleapis.com/css?family=Poppins:700');


.contact {
    width: 100%;
    height: 115rem;
    border-radius: 3rem;
    margin: 3rem auto;
    background-color: #fff;
}

.contact__img {
    width: 100%;
    height: 45rem;
  }


.contact__text {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 7rem;
}


.contact__title {
    color: black;
    text-align: center;
    font-family:  "Poppins",Helvetica,sans-serif; 
    margin: 5rem 0rem;
}

.contact__contents {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.contact__email {

    width: 23rem;
    height: 22rem;
    margin-top: 3.4rem;
    margin-bottom: 3rem;
    margin-right: 17rem;
}

.contact__location {
    width: 23rem;
    height: 22rem;
    margin-top: 2rem;
    margin-bottom: 3.7rem;

}

.contact__buttons{
    
    display: flex;
    justify-content: center;

}

.contact__button{
    background: rgb(2, 167, 16);
    color:#fff;
    border:none;
    border-radius: 0.8rem;
    height:4.2rem;
    width: 11.8rem;
    font-size: 1.6rem;
    padding:0 1rem;
    transition: 800ms ease all;
    margin-right: 15rem;
    margin-left: 15rem;
  }

  .contact__button:hover{
    background:#fff;
    color: rgb(2, 167, 16);
    border: solid;
    border-color: rgb(2, 167, 16);
    border-width: 0.1rem;
  }
  
  .contact__button:focus {
       outline:0 !important;
  }
  
  